body {
  margin-top: 40px;
  background-color: rgb(207, 227, 233);
}
h1,
h2 {
  text-align: center;
}
h1 {
  border-bottom: 0;
  font-size: 45px;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 0;
}
h2 {
  font-size: 13px;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
}

hr {
  padding: 0;
  margin-top: 30px;
}
.container {
  background-image: linear-gradient(rgb(193, 221, 229), rgb(90, 109, 114));
  border: 2px solid rgb(74, 91, 96);
  border-radius: 10px;

  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px;
}

.current-conditions {
  background-color: rgb(194, 189, 199);
  padding: 60px 30px;
  border-radius: 10px;
  border: 2px solid rgba(74, 91, 96, 0.1);
}

.current-info {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 30px 0;
}

.featured-city {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.featured-city strong {
  font-size: 25px;
}

.featured-city .units {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -10px;
}

.current-date {
  font-size: 15px;
  font-weight: 500;
}

.list-group-item {
  padding: 10px;
  margin: 0 auto;
  align-items: center;
}

.weather-forecast {
  background-color: rgba(131, 193, 193, 0.3);
  padding: 5px 0;
}

.weather-forecast-day {
  font-size: 19px;
  font-weight: 400;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.footer {
  font-size: 13px;
  color: rgba(0 0 0 0.5);
  text-align: left;
}
