body {
  margin-top: 10px;
  background-color: rgba(251, 236, 236, 0.391);
}
h1,
h2 {
  text-align: center;
}
h1 {
  border-bottom: 0;
  font-size: 45px;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 0;
}
h2 {
  font-size: 13px;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
}

.container {
  background-image: linear-gradient(rgb(242, 232, 232), rgb(183, 125, 137));
  border: 2px solid rgb(218, 169, 173);
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px;
}

.current-conditions {
  background-image: url(images/blue\ with\ brown\ clouds.jpg);
  padding: 60px 30px;
  border-radius: 10px;
}

.current-info {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 30px 0;
}

.featured-city {
  text-align: center;
  padding: 30px;
  background-color: rgba(249, 247, 247, 0.255);
  border-radius: 10px;
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.featured-city strong {
  font-size: 25px;
}

.featured-city .units {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -10px;
}

.current-date {
  font-size: 15px;
  font-weight: 500;
}

.list-group-item {
  padding: 10px;
  margin: 0 auto;
  align-items: center;
}

.weather-forecast {
  background-color: rgb(197, 190, 208);
  padding: 5px 0;
  padding-left: 65px;
}

.weather-forecast-day {
  font-size: 19px;
  font-weight: 400;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.footer {
  font-size: 13px;
  color: rgba(0 0 0 0.5);
  text-align: left;
}
